<strong>Olá, {{ provider }}</strong>
<p>Sua questão "{{question}}" foi respondida pelo administrador.</p>
<p>
  <strong>Questão: </strong> {{ question }} <br />
  <strong>Resposta: </strong> {{ answer }} <br />
  <strong>Data: </strong> {{ date }} <br />
  <br />
</p>