header {
	background: #4a90e2;
	display: flex;
	flex-direction: row;
}

header nav {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	margin: 1.2% 15% 1.2%;
}

header nav strong {
	color: #fff;
	font-size: 28px;
}

header nav div {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

header nav div span {
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	margin-right: 5px;
}
