ul {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 2% 20% 2%;
	padding: 1%;
}

ul li {
	width: 100%;
	height: 100%;
	background: #fff;
	border-radius: 8px;
	margin-top: 1.7%;
}

ul li header {
	display: flex;
	flex-direction: column;
	background: #fff;
	margin-top: 2%;
	justify-content: center;
	align-items: center;
}

ul li header nav {
	display: flex;
	flex-direction: row;
	margin-right: 8%;
	justify-content: start;
	align-items: center;
}

ul li header nav img {
	width: 48px;
	border-radius: 50%;
}

ul li header nav div {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-left: 1%;
}

ul li header nav div strong {
	color: #333;
	font-size: 18px;
}

ul li header nav div span {
	color: #999;
	font-size: 12px;
}

ul li p {
	color: #777;
	line-height: 24px;
	margin: 1% 4% 3%;
}

ul li hr {
	background: #999;
	height: 1.2%;
	margin: 1% 3% 1%;
	border-radius: 4px;
}

ul li div {
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: flex-start;
	margin: 2% 4% 2%;
}

ul li div img {
	width: 36px;
	border-radius: 50%;
}

ul li div div {
	display: flex;
	flex-direction: row;
	background: #eee;
	margin: 0 1% 0;
	padding: 0.5% 0 0.5%;
	border-radius: 16px;
}

ul li div div strong {
	color: #333;
	font-size: 14px;
	margin-right: 1%;
}

ul li div div p {
	color: #888;
	font-size: 14px;
}
