@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");

* {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}

body html #root {
	-webkit-font-smoothing: antialiased !important;
}

body {
	height: 100%;
	background: #eee;
}

button {
	cursor: pointer;
	font-family: "Roboto", sans-serif;
}

strong,
span {
	font-family: "Roboto", sans-serif;
}

ul {
	list-style: none;
}
